
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Hibaza - Complete</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="meta desc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=0" />
    <link id="favicon" rel="icon" type="image/png" href="/partners/square/hibaza.png" />
    <link rel="stylesheet" type="text/css" href="/css/site.css?v=@(ViewBag.Version)" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/config.js?v=@(ViewBag.Version)"></script>
    <script src="~/js/lang.js"></script>
</head>
<body style="background-image:url('/images/ui.jpg')" class="wz-overflow">

    <!-- TODO: vamos a pedir los mínimos datos obligatorios iniciales para que el cliente pueda empezar a usar la plataforma. El resto de datos obligatorios que no tengamos aquí los pondremos inicialmente por defecto y una vez completado este formulario le diremos al cliente que puede completar el resto de datos en settings.-->
    <div id="first-setup" class="container lg-register-complete">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2 wz-margin-t-50">
                <div class="steps">
                    <div id="step-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <header>
                                    <i class="icon-zami-01"></i>
                                    <h3 class="wz-margin-t-35 lg-thank-regirstration">
                                        Thank for your regirstration<br /><br />
                                        We will review and contact you shortly.
                                    </h3>
                                </header>
                                <footer class="wz-margin-t-35">
                                    <div data-target="#step-2" class="btn btn-default js-step btn-big btn-pink hidden">
                                        <div class="pull-left lg-let-go">
                                            Let's go!
                                        </div>
                                        <div class="pull-right">
                                            <i class="icon-pe-arrow-right"></i>
                                        </div>
                                    </div>
                                    <p>
                                        <span class="wz-progress-bar"><i style="width:20%;" class="wz-progress"></i></span>
                                    </p>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        readFileLang(localStorage.getItem("lang"), "register_complete"); 
    </script>
</body>
</html>