.wz-col-sideright section {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -ms-flex!important;
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-overflow-scrolling: touch;
    overflow: hidden!important
}
.wz-col-sideright section section {
    padding: 0
}
.wz-col-sideright section header {
    width: 100%!important;
    padding: 0!important
}
.wz-col-sideright section div.wz-filler {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: -5px
}
.wz-col-sideright section .btn-chatbot {
    display: block;
    border: none;
    height: 32px;
    width: 32px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    top: 4px;
    position: relative;
    background-image: url(/images/qbot.jpg)
}
.wz-col-sideright section .list-group {
    margin-bottom: 0!important
}
.wz-col-sideright section .list-group .wz-load-more {
    text-align: center;
    color: #646bbc;
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
    list-style-type: none
}
.wz-col-sideright section .list-group .list-group-item {
    cursor: pointer;
    padding: 12px;
    border: none;
}
.wz-col-sideright section .list-group .list-group-item .wz-flex-card-item {
    overflow: hidden;
    flex-grow: initial;
    flex: 1
}
.wz-col-sideright section .list-group .list-group-item .wz-flex-card-item .btn {
    display: none
}
.wz-col-sideright section .list-group .list-group-item .wz-flex-card-item:first-child,
.wz-col-sideright section .list-group .list-group-item .wz-flex-card-item:last-child {
    flex: initial;
    overflow: initial
}
.wz-col-sideright section .list-group .list-group-item .wz-flex-card-item:last-child {
    text-align: right;
    margin-left: 5px;
    max-width: 40%
}
.wz-col-sideright section .list-group .list-group-item .wz-flex-card-item p {
    margin: -2px 0 0;
    overflow: hidden;
    white-space: nowrap
}
.wz-col-sideright section .list-group .list-group-item .wz-flex-card-item p:first-child {
    margin-top: 0
}
.wz-col-sideright section .list-group .list-group-item .wz-flex-card-item p.wz-font-w-med {
    display: -ms-flex!important;
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}
.wz-col-sideright section .list-group .list-group-item .wz-flex-card-item p.wz-font-w-med i {
    color: #a6a8ae;
    margin-left: 4px;
    top: 6px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative
}
.wz-col-sideright section .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}
.wz-col-sideright section .list-group .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.wz-col-sideright section .list-group .list-group-item .wz-contact-name {
    height: 22px;
    margin-right: 3px;
    margin-top: 4px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.wz-col-sideright section .list-group .list-group-item .wz-contact-avatar {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    margin-top:10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    font-weight: 400!important;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)
}
.wz-col-sideright section .list-group .list-group-item .wz-contact-avatar p {
    padding-top: 7px;
    text-align: center;
    font-size: 18px;
    font-weight: 400!important;
    max-width: 100%!important
}
.wz-col-sideright section .list-group .list-group-item .wz-contact-avatar img {
    width: 40px;
    position: relative
}
.wz-col-sideright section .list-group .list-group-item.active .wz-contact-name,
.wz-col-sideright section .list-group .list-group-item.active p,
.wz-col-sideright section .list-group .list-group-item:focus .wz-contact-name,
.wz-col-sideright section .list-group .list-group-item:focus p,
.wz-col-sideright section .list-group .list-group-item:hover .wz-contact-name,
.wz-col-sideright section .list-group .list-group-item:hover p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.wz-col-sideright section .list-group .list-group-item.js-unread {
    border-right: 5px solid #ce4b81;
    border-radius: 0
}
.wz-col-sideright section .list-group .list-group-item.js-unread p,
.wz-col-sideright section .list-group .list-group-item.js-unread span {
    font-weight: 700
}
.wz-col-sideright section .list-group .list-group-item.js-unread:not(.active) span {
    color: #383f50
}
.wz-col-sideright section .list-group .list-group-item .wz-client {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 7px
}
.wz-col-sideright section .list-group .list-group-item .wz-date {
    margin-right: 3px;
    color: #a6a8ae;
    text-transform: uppercase;
    font-size: 10px;
    display: -ms-flex!important;
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}
.wz-col-sideright section .list-group .list-group-item .wz-date span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.wz-col-sideright section .list-group .list-group-item .wz-date span.js-channel-name {
    margin-top: 1px
}
.wz-col-sideright section .list-group .list-group-item .wz-date span.js-channel-name.removed {
    font-style: italic
}
.wz-col-sideright section .list-group .list-group-item .wz-date span.js-render-date {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 1px
}
.wz-col-sideright section .list-group .list-group-item .btn {
    font-size: 11px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 8px;
    padding: 4px 10px
}
.wz-col-sideright section .list-group .list-group-item .btn.btn-avatar {
    width: 30px;
    height: 30px;
    top: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    border: none!important
}
.wz-col-sideright section .list-group .list-group-item .wz-font-s-sm {
    color: #FF9400; /*#798091*/
}
.wz-col-sideright section .list-group .list-group-item.active {
    color: #fff;
    background-color: #646bbc!important
}
.wz-col-sideright section .list-group .list-group-item.active .js-channel-icon::before,
.wz-col-sideright section .list-group .list-group-item.active .wz-date {
    color: #bbbee2
}
.wz-col-sideright section .list-group .list-group-item.active .btn {
    display: block;
    border: 1px solid #fff
}
.wz-col-sideright section .list-group .list-group-item:hover {
    background-color: #eae9e9
}
.wz-col-sideright section .list-group .list-group-item:hover .wz-font-s-sm {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.wz-col-sideright section .list-group .list-group-item:hover .btn {
    display: block
}

@media (max-width: 1024px) {
    .wz-col-sideright .list-group .list-group-item {
        padding: 10px 7px
    }
    .wz-col-sideright .list-group .list-group-item img {
        width: 34px
    }
    .wz-col-sideright .list-group .list-group-item .wz-date {
        max-width: 100%!important
    }
    .wz-col-sideright .wz-flex-card-item .btn {
        position: absolute;
        right: 0;
        padding: 6px 16px!important;
        top: 0;
        border-radius: 0
    }
    .wz-col-sideright .wz-flex-card-item p {
        font-size: 13px
    }
    .wz-col-sideright .wz-flex-card-item p.wz-font-s-sm {
        font-size: 12px
    }
    .wz-col-sideright .wz-client {
        display: none!important
    }
}

.wz-col-sideright iframe.shop {
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    height: calc(100vh);
    overflow: auto;
    background-color:#fff;
    width: 100%;
    border:none;
}